/* ======
Fonts
======== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ========== 
header
============= */
.logo{
  padding-top: 20px;
}
.main-manu {
  padding-top: 20px;
}
.main-manu ul li {
  display: inline-block;
}
.main-manu ul li a {
  display: block;
  padding-right: 40px;
  color: #242f51;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
}
.main-manu ul li a:hover{
  color: #2400f8;
}
.header-btn{
  padding-top: 20px;
}
/* ================
Home Section Area 
=================== */
section.home-area {
  height: 850px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.home-contant {
  height: 100%;
}
.home-img img {
  width: 100%;
}
.tag {
  margin-bottom: 30px;
  position: relative;
}
span.img {
  background: #feaa23;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: inline-block;
  line-height: 42px;
  text-align: center;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
span.text {
  font-size: 18px;
  background: #e2eaed;
  color: #242f51;
  border-radius: 35px;
  text-align: right;
  padding: 8px 25px;
  display: inline-block;
  width: 360px;
}
.home-contant h2 {
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 20px;
}
.home-contant p {
  margin-bottom: 40px;
}
.home-contant a{
  margin-right: 20px;
}
.brand h6 {
  font-weight: 400;
}

/* ==============
App Featue Area
================= */
.feature-contant h2 {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 15px;
}
.feature-contant p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 80px;
}
.app-feature-bg{
  height: 850px;
  background-repeat: no-repeat;
  background-size: contain;

}
.app-item {
  margin-bottom: 60px;
}
.app-item-img {
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  margin-right: 30px;
}
.app-item-img.r{
  background-color: #ffecee;
}
.app-item-contant h4 {
  font-size: 20px;
  line-height: 58px;
}
.app-item-contant.r h4 {
color: #f55767;
}
.app-item-contant p {
  margin-bottom: 0;
}
.app-item-img.b{
  background-color: #f4f4fe;
}
.app-item-contant.b h4 {
  color: #2563ff;
}
.app-item-img.g{
  background-color: #e3ffee;
}
.app-item-contant.g h4 {
  color: #40975f;
}
/* ====================
Smart Jackpot Area
======================= */
.jeckpot-heading{
  position: relative;
}
.jeckpot-heading h2 {
  font-size: 45px;
  line-height: 50px;
}
.jeckpot-heading h2::after {
  position: absolute;
  content: "";
  background: #b9b9b8;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0;
}
.jeckpot-para {
  height: 145px;
}
.jeckpot-para p {
  font-size: 16px;
  line-height: 26px;
}
.jeck-img{
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  margin-right: 30px;
}
.jeck-img.r{
  background-color: #ffecee;
}
.jeck-img.b{
  background-color: #f4f4fe;
}
.jeck-img.g{
  background-color: #e3ffee;
}
.jeck-contant h4{
  font-size: 20px;
  line-height: 58px;
}
.jeck-contant.r h4{
  color: #f55767;
}
.jeck-contant.b h4{
  color: #2563ff;
}
.jeck-contant.g h4{
  color: #40975f;
}
.jeck-contant p{
  font-size: 16px;
  line-height: 26px;
}
/* ==============
Design Area
================= */
section.design-area {
  border-bottom: 1px solid #f4f4f4;
}
.design-bg {
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
}
.design-contant h2 {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 35px;
}
.design-contant p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}
/* =================
Our App Area
==================== */
.title h2 {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 30px;
}
.title p {
  font-size: 16px;
  line-height: 26px;
}
.our-app-img{
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  margin-right: 30px;
}
.our-app-img.r2{
  background-color: #ffecef;
}
.our-app-img.g2{
  background-color: #eaf9ff;
}
.our-app-img.y{
  background-color: #fff7d3;
}
.our-app-img.g3{
  background-color: #e4ffee;
}
.our-app-img.b{
  background-color: #f4f4fe;
}
.our-app-img.b{
  background-color: #f4f4fe;
}
.our-app-img.r3{
  background-color: #fceee3;
}
.app-contant h4 {
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}
